<br>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <h4 class="titleSalida text-center"><strong>Lista Servicio</strong> <i class="fa fa-btc cash"></i><br class="visible-xs"><br class="visible-xs"><span class="text-center ingreso visible-xs"><strong>Ingresos Parqueadero</strong><br>${{vm.parqueadero[0].ingresos}}</span> <span class="pull-right ingreso hidden-xs"><strong>Ingresos Parqueadero</strong> <br>${{vm.parqueadero[0].ingresos}}</h4><br>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Precio</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Matricula</th>
                <th>Cliente</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.parqueo">
                <td>{{item.precio}}</td>
                <td>{{vm.itemCodigo.horas}}</td>
                <td>{{vm.itemCodigo.fecha}}</td>
                <td>{{vm.itemCodigo.matricula.matricula}}</td>
                <td>{{vm.itemCodigo.idCliente.nombre}}</td>
                <td>
                  <button class="btn btn-success" ng-click="vm.capturar(item)">Retirar</button>
                  <!--ng-model="item.id"-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

 
